SocIoS Front End/SociosFrontEnd/DesktopModules/Socios_MediaSearch/xsd/socios-vocabulary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.sociosproject.eu/sociosVoc/"
  elementFormDefault="qualified"
  targetNamespace="http://www.sociosproject.eu/sociosVoc/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="person" type="tns:Person" />
  <xs:element name="group" type="tns:Group" />
  <xs:element name="activity" type="tns:Activity" />
  <xs:element name="message" type="tns:Message" />
  <xs:element name="mediaItem" type="tns:MediaItem" />
  
  <xs:element name="personId" type="tns:ObjectId" />
  <xs:element name="groupId" type="tns:ObjectId" />
  <xs:element name="activityId" type="tns:ObjectId" />
  <xs:element name="messageId" type="tns:ObjectId" />
  <xs:element name="mediaItemId" type="tns:ObjectId" />
  
  <xs:element name="personList" type="tns:PersonList" />
  <xs:element name="groupList" type="tns:GroupList" />
  <xs:element name="activityList" type="tns:ActivityList" />
  <xs:element name="messageList" type="tns:MessageList" />
  <xs:element name="mediaItemList" type="tns:MediaItemList" />
  
  <xs:element name="personIdList" type="tns:PersonIdList" />
  <xs:element name="groupIdList" type="tns:GroupIdList" />
  <xs:element name="activityIdList" type="tns:ActivityIdList" />
  <xs:element name="messageIdList" type="tns:MessageIdList" />
  <xs:element name="mediaItemIdList" type="tns:MediaItemIdList" />
  
  <xs:element name="personFilter" type="tns:PersonFilter" />
  <xs:element name="groupFilter" type="tns:GroupFilter" />
  <xs:element name="activityFilter" type="tns:ActivityFilter" />
  <xs:element name="mediaItemFilter" type="tns:MediaItemFilter" />
  
  <xs:element name="sociosApiUserKey" type="xs:string" />
  
  <xs:complexType name="PersonIdList">
    <xs:sequence>
      <xs:element name="personId" minOccurs="0" maxOccurs="unbounded" type="tns:ObjectId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupIdList">
    <xs:sequence>
      <xs:element name="groupId" minOccurs="0" maxOccurs="unbounded" type="tns:ObjectId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivityIdList">
    <xs:sequence>
      <xs:element name="activityId" minOccurs="0" maxOccurs="unbounded" type="tns:ObjectId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MediaItemIdList">
    <xs:sequence>
      <xs:element name="mediaItemId" minOccurs="0" maxOccurs="unbounded" type="tns:ObjectId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageIdList">
    <xs:sequence>
      <xs:element name="messageId" minOccurs="0" maxOccurs="unbounded" type="tns:ObjectId" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="PersonList">
    <xs:sequence>
      <xs:element name="person" minOccurs="0" maxOccurs="unbounded" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupList">
    <xs:sequence>
      <xs:element name="group" minOccurs="0" maxOccurs="unbounded" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivityList">
    <xs:sequence>
      <xs:element name="activity" minOccurs="0" maxOccurs="unbounded" type="tns:Activity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageList">
    <xs:sequence>
      <xs:element name="message" minOccurs="0" maxOccurs="unbounded" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
    <xs:complexType name="MediaItemList">
    <xs:sequence>
      <xs:element name="mediaItem" minOccurs="0" maxOccurs="unbounded" type="tns:MediaItem" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ObjectId">
    <xs:all>
      <xs:element name="id" type="xs:string" />
      <xs:element name="source" type="tns:Source" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="Source">
    <xs:choice>
      <xs:element name="knownSns" type="tns:KnownSns" />
      <xs:element name="openSocialSnsId" type="tns:OpenSocialSns" />
      <xs:element name="otherId" type="xs:string" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="OpenSocialSns">
    <xs:choice>
      <xs:element minOccurs="0" name="baseUri" type="xs:string" />
    </xs:choice>
  </xs:complexType>
  
  <xs:simpleType name="KnownSns">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FACEBOOK" />
      <xs:enumeration value="YOUTUBE" />
      <xs:enumeration value="TWITTER" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ArrayOfObjectIds">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="objectId" type="tns:ObjectId" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AreaLocationFilter">
    <xs:all>
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
      <xs:element minOccurs="0" name="radius" type="xs:double" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="AddressLocationFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" type="xs:string" />
      <xs:element minOccurs="0" name="postalCode" type="xs:string" />
      <xs:element minOccurs="0" name="region" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="LocationFilter">
    <xs:choice>
      <xs:element name="addressFilter" type="tns:AddressLocationFilter"/>
      <xs:element name="areaFilter" type="tns:AreaLocationFilter"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="KeyWordFilter">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="keyword" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DoubleFilter">
    <xs:sequence>
      <xs:element name="from" type="xs:double" />
      <xs:element name="to" type="xs:double" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LongFilter">
    <xs:sequence>
      <xs:element name="from" type="xs:long" />
      <xs:element name="to" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="IntFilter">
    <xs:sequence>
      <xs:element name="from" type="xs:int" />
      <xs:element name="to" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DateTimeFilter">
    <xs:sequence>
      <xs:element name="from" type="xs:dateTime" />
      <xs:element name="to" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NameFilter">
    <xs:all>
      <xs:element minOccurs="0" name="additionalName" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="familyName" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="givenName" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="honorificPrefix" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="honorificSuffix" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="formatted" type="tns:KeyWordFilter" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="OrganizationFilter">
    <xs:all>
      <xs:element minOccurs="0" name="address" type="tns:LocationFilter" />
      <xs:element minOccurs="0" name="department" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="description" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="endDate" type="tns:DateTimeFilter" />
      <xs:element minOccurs="0" name="name" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="startDate" type="tns:DateTimeFilter" />
      <xs:element minOccurs="0" name="type" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="title" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="field" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="subField" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="webpage" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="salary" type="tns:KeyWordFilter" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="PersonFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="aboutMe" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="activities" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addresses" type="tns:LocationFilter" />
      <xs:element minOccurs="0" name="age" type="tns:IntFilter"/>
      <xs:element minOccurs="0" name="anniversary" type="tns:DateTimeFilter" />
      <xs:element minOccurs="0" name="appData" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="birthday" type="tns:DateTimeFilter" />
      <xs:element minOccurs="0" name="bodyType" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="books" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="cars" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="children" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="connected" type="xs:boolean" />
      <xs:element minOccurs="0" name="currentLocation" type="tns:LocationFilter" />
      <xs:element minOccurs="0" name="displayName" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="drinker" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="emails" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="ethnicity" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="fashion" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="food" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="gender" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="happiestWhen" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="hasApp" type="xs:boolean" />
      <xs:element minOccurs="0" name="heroes" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="humor" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="id" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" name="ims" type="tns:KeyWordFilter"/>
      <xs:element minOccurs="0" name="interests" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="jobInterests" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="languagesSpoken" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="livingArrangement" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="lookingFor" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="movies" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="music" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="name" type="tns:NameFilter" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="networkPresence" type="tns:NetworkPresence" />
      <xs:element minOccurs="0" name="nickname" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="organizations" type="tns:OrganizationFilter" />
      <xs:element minOccurs="0" name="pets" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="phoneNumbers" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="politicalViews" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="preferredUsername" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="profileSong" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="profileUrl" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="profileVideo" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="published" type="tns:DateTimeFilter"/>
      <xs:element minOccurs="0" name="quotes" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="relationships" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="relationshipStatus" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="religion" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="romance" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="scaredOf" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="sexualOrientation" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="smoker" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="sports" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="status" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="tags" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="thumbnailUrl" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="turnOffs" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="turnOns" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="tvShows" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="updated" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="urls" type="tns:KeyWordFilter" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ActivityFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="appId" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" name="body" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="bodyId" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" name="externalId" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" name="id" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mediaItems" type="tns:MediaItemFilter" />
      <xs:element minOccurs="0" name="postedTime" type="tns:LongFilter" />
      <xs:element minOccurs="0" name="priority" type="tns:DoubleFilter" />
      <xs:element minOccurs="0" name="streamFaviconUrl" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="streamSourceUrl" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="streamTitle" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="streamUrl" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="templateParams" type="tns:ActivityTemplateParamsFilter" />
      <xs:element minOccurs="0" name="title" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="titleId" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" name="url" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="userId" type="tns:ArrayOfObjectIds" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MediaItemFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" name="title" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="created" type="tns:DateTimeFilter" />
      <xs:element minOccurs="0" name="thumbnailUrl" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="description" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="duration" type="tns:IntFilter" />
      <xs:element minOccurs="0" name="location" type="tns:Address" />
      <xs:element minOccurs="0" name="language" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="fileSize" type="tns:LongFilter" />
      <xs:element minOccurs="0" name="startTime" type="tns:DateTimeFilter" />
      <xs:element minOccurs="0" name="rating" type="tns:IntFilter" />
      <xs:element minOccurs="0" name="numVotes" type="tns:IntFilter" />
      <xs:element minOccurs="0" name="numComments" type="tns:IntFilter" />
      <xs:element minOccurs="0" name="numViews" type="tns:IntFilter" />
      <xs:element minOccurs="0" name="tags" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="taggedPeople" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="mimeType" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mediaTypes" type="tns:MediaItemType" />
      <xs:element minOccurs="0" name="url" type="tns:KeyWordFilter" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActivityTemplateParamsFilter">
    <xs:all>
      <xs:element minOccurs="0" name="PersonKey.DisplayName" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="PersonKey.Id" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" name="PersonKey.ProfileUrl" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="person" type="tns:PersonFilter" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="GroupFilter">
    <xs:all>
      <xs:element minOccurs="0" name="id" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" name="title" type="tns:KeyWordFilter" />
      <xs:element minOccurs="0" name="description" type="tns:KeyWordFilter" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="Activity">
    <xs:sequence>
      <xs:element minOccurs="0" name="appId" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="body" type="xs:string" />
      <xs:element minOccurs="0" name="bodyId" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="externalId" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="id" type="tns:ObjectId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mediaItems" type="tns:MediaItem" />
      <xs:element minOccurs="0" name="postedTime" type="xs:long" />
      <xs:element minOccurs="0" name="priority" type="xs:double" />
      <xs:element minOccurs="0" name="streamFaviconUrl" type="xs:string" />
      <xs:element minOccurs="0" name="streamSourceUrl" type="xs:string" />
      <xs:element minOccurs="0" name="streamTitle" type="xs:string" />
      <xs:element minOccurs="0" name="streamUrl" type="xs:string" />
      <xs:element minOccurs="0" name="templateParams" type="tns:ActivityTemplateParams" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="titleId" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="url" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="tns:ObjectId" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ActivityTemplateParams">
    <xs:all>
      <xs:element minOccurs="0" name="PersonKey" type="xs:string" />
      <xs:element minOccurs="0" name="PersonKey.DisplayName" type="xs:string" />
      <xs:element minOccurs="0" name="PersonKey.Id" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="PersonKey.ProfileUrl" type="xs:string" />
      <xs:element minOccurs="0" name="person" type="tns:Person" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="aboutMe" type="xs:string" />
      <xs:element minOccurs="0" name="accounts" type="tns:Account"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="activities" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addresses" type="tns:Address" />
      <xs:element minOccurs="0" name="age" type="xs:int"/>
      <xs:element minOccurs="0" name="anniversary" type="xs:dateTime" />
      <xs:element minOccurs="0" name="appData" type="tns:Appdata" />
      <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="bodyType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="books" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cars" type="xs:string" />
      <xs:element minOccurs="0" name="children" type="xs:string" />
      <xs:element minOccurs="0" name="connected" type="xs:boolean" />
      <xs:element minOccurs="0" name="currentLocation" type="tns:Address" />
      <xs:element minOccurs="0" name="displayName" type="xs:string" />
      <xs:element minOccurs="0" name="drinker" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="emails" type="xs:string" />
      <xs:element minOccurs="0" name="ethnicity" type="xs:string" />
      <xs:element minOccurs="0" name="fashion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="food" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="happiestWhen" type="xs:string" />
      <xs:element minOccurs="0" name="hasApp" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="heroes" type="xs:string" />
      <xs:element minOccurs="0" name="humor" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="tns:ObjectId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ims" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="interests" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="jobInterests" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="languagesSpoken" type="xs:string" />
      <xs:element minOccurs="0" name="livingArrangement" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lookingFor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="movies" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="music" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="tns:Name" />
      <xs:element minOccurs="0" name="networkPresence" type="tns:NetworkPresence" />
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="organizations" type="tns:Organization" />
      <xs:element minOccurs="0" name="pets" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="phoneNumbers" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="photos" type="xs:string" />
      <xs:element minOccurs="0" name="politicalViews" type="xs:string" />
      <xs:element minOccurs="0" name="preferredUsername" type="xs:string" />
      <xs:element minOccurs="0" name="profileSong" type="xs:string" />
      <xs:element minOccurs="0" name="profileUrl" type="xs:string" />
      <xs:element minOccurs="0" name="profileVideo" type="xs:string" />
      <xs:element minOccurs="0" name="published" type="xs:dateTime"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="quotes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="relationships" type="xs:string" />
      <xs:element minOccurs="0" name="relationshipStatus" type="xs:string" />
      <xs:element minOccurs="0" name="religion" type="xs:string" />
      <xs:element minOccurs="0" name="romance" type="xs:string" />
      <xs:element minOccurs="0" name="scaredOf" type="xs:string" />
      <xs:element minOccurs="0" name="sexualOrientation" type="xs:string" />
      <xs:element minOccurs="0" name="smoker" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sports" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tags" type="xs:string" />
      <xs:element minOccurs="0" name="thumbnailUrl" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="turnOffs" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="turnOns" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tvShows" type="xs:string" />
      <xs:element minOccurs="0" name="updated" type="xs:dateTime"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="urls" type="xs:string" />
      <xs:element minOccurs="0" name="utcOffset" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NetworkPresence">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AWAY" />
      <xs:enumeration value="CHAT" />
      <xs:enumeration value="DND" />
      <xs:enumeration value="OFFLINE" />
      <xs:enumeration value="ONLINE" />
      <xs:enumeration value="XA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Group">
    <xs:all>
      <xs:element minOccurs="0" name="id" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="AppdataEntry" mixed="true">
    <xs:all>
      <xs:element minOccurs="1" name="key" type="xs:string" />
      <xs:element minOccurs="1" name="value"  type="xs:anyType" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Appdata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entry" type="tns:AppdataEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:all>
      <xs:element minOccurs="0" name="country" type="xs:string" />
      <xs:element minOccurs="0" name="extendedAddress" type="xs:string" />
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="locality" type="xs:string" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
      <xs:element minOccurs="0" name="poBox" type="xs:string" />
      <xs:element minOccurs="0" name="postalCode" type="xs:string" />
      <xs:element minOccurs="0" name="primary" type="xs:boolean"/>
      <xs:element minOccurs="0" name="region" type="xs:string" />
      <xs:element minOccurs="0" name="streetAddress" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" name="formatted" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Account">
    <xs:all>
      <xs:element minOccurs="0" name="domain" type="xs:string" />
      <xs:element minOccurs="0" name="primary" type="xs:boolean"/>
      <xs:element minOccurs="0" name="userid" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Organization">
    <xs:all>
      <xs:element minOccurs="0" name="address" type="tns:Address" />
      <xs:element minOccurs="0" name="department" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="field" type="xs:string" />
      <xs:element minOccurs="0" name="subField" type="xs:string" />
      <xs:element minOccurs="0" name="webpage" type="xs:string" />
      <xs:element minOccurs="0" name="salary" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Name">
    <xs:all>
      <xs:element minOccurs="0" name="additionalName" type="xs:string" />
      <xs:element minOccurs="0" name="familyName" type="xs:string" />
      <xs:element minOccurs="0" name="givenName" type="xs:string" />
      <xs:element minOccurs="0" name="honorificPrefix" type="xs:string" />
      <xs:element minOccurs="0" name="honorificSuffix" type="xs:string" />
      <xs:element minOccurs="0" name="formatted" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="MediaItem">
    <xs:all>
      <xs:element minOccurs="0" name="id" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="thumbnailUrl" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="duration" type="xs:integer" />
      <xs:element minOccurs="0" name="location" type="tns:Address" />
      <xs:element minOccurs="0" name="language" type="xs:string" />
      <xs:element minOccurs="0" name="albumId" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="fileSize" type="xs:long" />
      <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="rating" type="xs:integer" />
      <xs:element minOccurs="0" name="numVotes" type="xs:integer" />
      <xs:element minOccurs="0" name="numComments" type="xs:integer" />
      <xs:element minOccurs="0" name="numViews" type="xs:integer" />
      <xs:element minOccurs="0" name="tags" type="xs:string" />
      <xs:element minOccurs="0" name="taggedPeople" type="xs:string" />
      <xs:element minOccurs="0" name="mimeType" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="tns:MediaItemType" />
      <xs:element minOccurs="0" name="url" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="MediaItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUDIO" />
      <xs:enumeration value="IMAGE" />
      <xs:enumeration value="VIDEO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="appUrl" type="xs:string" />
      <xs:element minOccurs="0" name="body" type="xs:string" />
      <xs:element minOccurs="0" name="bodyId" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="collectionIds" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" name="id" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="inReplyTo" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="recipients" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" name="replies" type="tns:ArrayOfObjectIds" />
      <xs:element minOccurs="0" name="senderId" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="status" type="tns:MessageStatus" />
      <xs:element minOccurs="0" name="timeSent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="titleId" type="tns:ObjectId" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" name="updated" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="urls" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="MessageStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW" />
      <xs:enumeration value="READ" />
      <xs:enumeration value="DELETED" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>